<%- include('../../partials/header') %>

<main>
    <!--
    <div class="list-group w-auto">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="https://github.com/twbs.png" alt="twbs" class="rounded-circle flex-shrink-0" width="32" height="32">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">List group item heading</h6>
              <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
            </div>
            <small class="opacity-50 text-nowrap">now</small>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="https://github.com/twbs.png" alt="twbs" class="rounded-circle flex-shrink-0" width="32" height="32">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">Another title here</h6>
              <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>
            </div>
            <small class="opacity-50 text-nowrap">3d</small>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="https://github.com/twbs.png" alt="twbs" class="rounded-circle flex-shrink-0" width="32" height="32">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">Third heading</h6>
              <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
            </div>
            <small class="opacity-50 text-nowrap">1w</small>
          </div>
        </a>
      </div>
-->
<div class="container col-xxl-8 px-4 py-5">
<h1>Please authenticate using your preferred method</h1>
    <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
        <input onClick="location.href='/auth/login/alpha';" class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="">
        <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
            Alpha
          <span class="d-block small opacity-50">Login with alpha</span>
        </label>

    <input onClick="location.href='/auth/login/beta';" class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios4" value="" disabled="">
        <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
          Beta
          <span class="d-block small opacity-50">Login with beta</span>
        </label>


        <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios2" value="" disabled="">
        <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
          Gamma
          <span class="d-block small opacity-50">Login with gamma</span>
        </label>
      <!--
        <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
        <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
          Third radio
          <span class="d-block small opacity-50">And we end with another snippet of text</span>
        </label>
    -->
</div>
</div>
</main>
<%- include('../../partials/footer') %>

